# If this namespace is changed the value must be reflected in /open-feature-operator/values.yaml
defaultNamespace: open-feature-operator-system

sidecarConfiguration:
  port: 8013
  metricsPort: 8014
  socketPath: ""
  image:
    # these fields must remain in the same order, renovate uses a regex to update the tag value
    repository: "ghcr.io/open-feature/flagd"
    tag: v0.5.2
  providerArgs: ""
  envVarPrefix: "FLAGD"
  defaultSyncProvider: kubernetes
  evaluator: json
  logFormat: "json"
  probesEnabled: true
  debugLogging: false

flagdProxyConfiguration:
  port: 8015
  metricsPort: 8016
  image:
    repository: "ghcr.io/open-feature/flagd-proxy"
    tag: v0.2.2
  debugLogging: false

controllerManager:
  kubeRbacProxy:
    image:
      repository: gcr.io/kubebuilder/kube-rbac-proxy
      tag: "v0.14.0"
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 5m
        memory: 64Mi
  manager:
    image:
      repository: ghcr.io/open-feature/open-feature-operator
      tag: v0.2.33 # x-release-please-version
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  replicas: 1

managerConfig:
  controllerManagerConfigYaml:
    health:
      healthProbeBindAddress: :8081
    metrics:
      bindAddress: 127.0.0.1:8080
    webhook:
      port: 9443
