apiVersion: core.openfeature.dev/v1beta1
kind: FeatureFlagSource
metadata:
  name: featureflagsource-sample
spec:
  metricsPort: 8080
  evaluator: json
  defaultSyncProvider: file
  tag: latest
  sources:
    - source: end-to-end-test
      provider: file
  probesEnabled: true
