apiVersion: v1
kind: Pod
metadata:
  name: nginx
  annotations:
    openfeature.dev/enabled: "true"
    openfeature.dev/featureflagconfiguration: "featureflagconfiguration-sample"
spec:
  containers:
  - name: nginx
    image: nginx:1.14.2
    ports:
    - containerPort: 80