---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: flagds.core.openfeature.dev
spec:
  group: core.openfeature.dev
  names:
    kind: Flagd
    listKind: FlagdList
    plural: flagds
    singular: flagd
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Flagd is the Schema for the flagds API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: FlagdSpec defines the desired state of Flagd
            properties:
              featureFlagSource:
                description: |-
                  FeatureFlagSource references to a FeatureFlagSource from which the created flagd instance retrieves
                  the feature flag configurations
                type: string
              ingress:
                description: Ingress
                properties:
                  annotations:
                    additionalProperties:
                      type: string
                    description: Annotations the annotations to be added to the ingress
                    type: object
                  enabled:
                    description: Enabled enables/disables the ingress for flagd
                    type: boolean
                  flagdPath:
                    description: FlagdPath is the path to be used for accessing the
                      flagd flag evaluation API
                    type: string
                  hosts:
                    description: Hosts list of hosts to be added to the ingress
                    items:
                      type: string
                    type: array
                  ingressClassName:
                    description: IngressClassName defines the name if the ingress
                      class to be used for flagd
                    type: string
                  ofrepPath:
                    description: OFREPPath is the path to be used for accessing the
                      OFREP API
                    type: string
                  pathType:
                    description: PathType is the path type to be used for the ingress
                      rules
                    type: string
                  syncPath:
                    description: SyncPath is the path to be used for accessing the
                      sync API
                    type: string
                  tls:
                    description: TLS configuration for the ingress
                    items:
                      description: IngressTLS describes the transport layer security
                        associated with an Ingress.
                      properties:
                        hosts:
                          description: |-
                            Hosts are a list of hosts included in the TLS certificate. The values in
                            this list must match the name/s used in the tlsSecret. Defaults to the
                            wildcard host setting for the loadbalancer controller fulfilling this
                            Ingress, if left unspecified.
                          items:
                            type: string
                          type: array
                          x-kubernetes-list-type: atomic
                        secretName:
                          description: |-
                            SecretName is the name of the secret used to terminate TLS traffic on
                            port 443. Field is left optional to allow TLS routing based on SNI
                            hostname alone. If the SNI host in a listener conflicts with the "Host"
                            header field used by an IngressRule, the SNI host is used for termination
                            and value of the Host header is used for routing.
                          type: string
                      type: object
                    type: array
                type: object
              otelCollectorUri:
                description: OtelCollectorUri defines the OpenTelemetry collector
                  URI to enable OpenTelemetry Tracing in flagd.
                type: string
              replicas:
                description: Replicas defines the number of replicas to create for
                  the service
                format: int32
                type: integer
              serviceAccountName:
                description: ServiceAccountName the service account name for the flagd
                  deployment
                type: string
              serviceType:
                default: ClusterIP
                description: |-
                  ServiceType represents the type of Service to create.
                  Must be one of: ClusterIP, NodePort, LoadBalancer, and ExternalName.
                  Default: ClusterIP
                type: string
            required:
            - featureFlagSource
            type: object
          status:
            description: FlagdStatus defines the observed state of Flagd
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
