name: release

on:
  push:
    branches:
    - feature/release-workflow
    tags:
      - "v*.*.*"
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  FLAGD_VERSION: v0.0.3

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
         submodules: recursive
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
        
      - uses: actions/setup-go@v3
        with:
          go-version: '1.17.11'
      - run: |
          make update-flagd
          go mod tidy
          cp schemas/json/flagd-definitions.json pkg/utils/flagd-definitions.json
          make controller-gen
          IMG=ghcr.io/open-feature/open-feature-operator:${GITHUB_REF#refs/*/} make release-manifests

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            config/webhook/certificate.yaml
            config/rendered/release.yaml
            config/samples/end-to-end.yaml
